#############################################
# Build
#############################################

[Bb]in/
[Oo]bj/
artifacts/
TestResults/

#############################################
# Visual Studio
#############################################

.vs/

#############################################
# Rider
#############################################

.idea/

#############################################
# VS Code
#############################################

.vscode/

#############################################
# User Specific
#############################################

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

#############################################
# NuGet
#############################################

*.nupkg
packages/

#############################################
# Logs
#############################################

*.log

#############################################
# Coverage
#############################################

coverage/
coverage.*
*.coverage
*.coveragexml

#############################################
# Publish
#############################################

publish/

#############################################
# Local Database
#############################################

*.mdf
*.ldf
*.db

#############################################
# EF Core
#############################################

Migrations/*Designer.cs

#############################################
# ASP.NET User Secrets
#############################################

secrets.json

#############################################
# Environment Files
#############################################

.env

#############################################
# OS Files
#############################################

.DS_Store
Thumbs.db